{% extends 'base.html' %} {% block title %} home {% endblock %} {% block content %}
<div class="container">
    <div class="row">
        {% for post in posts %}
        <div class="col-md-4">
            {% if post.image.url != null %}

            <a href="{{post.link}}" style="text-decoration: none;">
                <img src="{{post.image.url}}" style="width: 100%; height: 100%; object-fit: cover">
                <h2 class="text-center">{{post.title}}</h2>
            </a>
            {% endif %}
            <a href="{{post.category.link}}">
                <h4 class="text-center">{{post.category.title}}</h4>
            </a>

            <p style="word-wrap: break-word;">
                {{post.content|slice:"0:50"}}...

            </p>
            <p class="text-primary">{{post.date}}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}