{% extends 'base.html'%} {% block title %} {{post.title}} {% endblock %} {% block content %}
<div class="container">
    <h1 class="text-center">{{post.title}}</h1>
    <p>{{post.content}}</p>
    <P class="text-success">{{post.date|date:"d/m/Y"}}</P>

    <!-- comment -->
    <hr> % if user.is_authenticated %}
    <form action="{% uls 'comment' post.slu %}" mathod="POST">
        {% csrf_token %}
        <textarea name="text" class="form-control" cols="30" rows="10"></textarea>
        <button class="btn btn-success">send</button>
    </form>
    <hr> {% endif %} {% for comment in post.comment_set.all %}
    <h3>{{comment.user.username}}</h3>
    <p>{{comment.text}}</p>
    <p class="text-right text-primry">{{comment.date}}</p>
    {% endfor %}
</div>
{% endblock %}