{% extends 'base.html' %} {% block title %} register {% endblock %} {% block content %}
<di class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form action="{% url 'register' %}" class="POST">
                {% csrf_token %} {{form.as_p}}
                <p>
                    <button class="btn btn-success">register</button>
                </p>
            </form>
        </div>
    </div>
</di>
{% endblock %}